import React from 'react'
import PropTypes from 'prop-types'

const {{pascalCase name}} = ({
    className,
}) => {
    return (
        <div>
            {{pascalCase name}}
        </div>
    )
}

{{pascalCase name}}.propTypes = {
    className: PropTypes.string,
}

export default {{pascalCase name}}